# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Database & Logs
instance/
*.sqlite3
*.db
*.log
dump.rdb

# User Generated Exports (Keep the folder, ignore the CSVs)
app/static/exports/*
!app/static/exports/.gitkeep

# Environment Variables (CRITICAL SECURITY)
.env
.flaskenv

# Celery
celerybeat-schedule
celerybeat.pid
celerybeat-schedule.db
celerybeat-schedule.dir
celerybeat-schedule.dat

# OS & IDE Files
.vscode/
.idea/
.DS_Store
__MACOSX/
